html,
body {
    font-family: $font;
    font-size: 16px;
    line-height: 150%;
    color: $colorFont;
    font-weight: 400;
    scrollbar-gutter: stable;

    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: $colorMain #fff;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorMain;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    ::selection {
        background: $colorMain;
        color: #fff;
    }
}

body {
    &.is-lock {
        overflow: hidden;
    }
}

// Sections

section {
    margin: 160px 0;

    @media (max-width: 1200px) {
        margin: 120px 0;
    }

    @media (max-width: 992px) {
        margin: 96px 0;
    }

    @media (max-width: 767px) {
        margin: 64px 0;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// Titles

h1,
h2,
h3,
h4 {
    margin-bottom: 24px;
    line-height: 120%;
    color: $colorMain;
}

h1 {
    font-size: 72px;
    font-weight: 500;

    @media (max-width: 1200px) {
        font-size: 56px;
    }

    @media (max-width: 992px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 64px;
    font-weight: 500;

    @media (max-width: 1200px) {
        font-size: 48px;
    }

    @media (max-width: 992px) {
        font-size: 40px;
    }

    @media (max-width: 767px) {
        font-size: 32px;
    }
}

h3 {
    font-size: 32px;
    line-height: toProcent(32, 38);

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

// P

p {
    &:has(+ p) {
        margin-bottom: 16px;
    }
}

// a

a {
    color: $colorFont;
    transition: all 0.3s ease-in-out 0s;

    &:not([class]) {
        border-bottom: 1px solid $colorFont;

        &:hover {
            border-color: transparent;
        }
    }
}

// Img

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

// Svg

svg {
    max-width: 100%;
}

// Has scroll

.has-scroll {
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
        scrollbar-color: $colorMain #fff;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: 0 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorMain;
        border-radius: 20px;
        border: 1px solid transparent;
    }

    ::selection {
        background: $colorMain;
        color: #fff;
    }
}

// Glass background

.glass-background {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: 16px;
        border-top: 1px solid #fff;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(12px);
    }
}

// Visually hidden

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
