<footer id="contacts" data-lozad data-toggle-class="is-visible" class="site-footer">
    <div class="container">
        <div class="site-footer__body">
            <div class="site-footer__content">
                <h2 class="site-footer__title">Свяжитесь с нами</h2>
                <div class="site-footer__text">
                    <p>
                        Если у&nbsp;Вас остались вопросы, мы&nbsp;с&nbsp;удовольствием<br />
                        проконсультируем Вас и&nbsp;поможем определиться с&nbsp;выбором
                    </p>
                </div>
                <ul class="site-footer__contacts">
                    <li class="site-footer__contact">
                        <span class="site-footer__contact-caption">Телефон</span>
                        <a href="tel+ 79999999999" class="site-footer__contact-link">+ 7 (999) 999 99-99</a>
                    </li>
                    <li class="site-footer__contact">
                        <span class="site-footer__contact-caption">Эл. почта</span>
                        <a href="mailto:okna.spec@mail.ru" class="site-footer__contact-link">okna.spec@mail.ru</a>
                    </li>
                </ul>
                <ul class="site-footer__socials">
                    <li class="site-footer__socials-item">
                        <a href="#" class="site-footer__socials-link">
                            <img width="32" height="32" data-lozad src="@img/placeholder.png" data-src="@img/icons/telegram.svg" alt="Telegram" title="Telegram" />
                        </a>
                    </li>
                    <li class="site-footer__socials-item">
                        <a href="#" class="site-footer__socials-link">
                            <img width="32" height="32" data-lozad src="@img/placeholder.png" data-src="@img/icons/whatsapp.svg" alt="Whatsapp" title="Whatsapp" />
                        </a>
                    </li>
                    <li class="site-footer__socials-item">
                        <a href="#" class="site-footer__socials-link">
                            <img width="32" height="32" data-lozad src="@img/placeholder.png" data-src="@img/icons/vk.svg" alt="VK" title="vk" />
                        </a>
                    </li>
                </ul>
            </div>
            <form action="#" class="site-footer__form form">
                <h3 class="form__title">Оставить заявку</h3>
                <div class="form__item">
                    <input type="text" name="name" placeholder="Имя" class="form__input input" />
                </div>
                <div class="form__item">
                    <input type="tel" name="phone" placeholder="Телефон" class="form__input input" />
                </div>
                <button class="form__button button">Отправить</button>
                <p class="form__privacy">Нажимая на кнопку, Вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности</p>
            </form>
        </div>
        <div class="site-footer__bottom">
            <p class="site-footer__copyright">© ОКНА.СПЕЦ, 2024</p>
            <ul class="site-footer__terms">
                <li class="site-footer__terms-item">
                    <a href="#" class="site-footer__terms-link">Политика конфиденциальности</a>
                </li>
                <li class="site-footer__terms-item">
                    <a href="#" class="site-footer__terms-link">Политика обработки персональных данных</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
