<header class="site-header glass-background">
    <div class="site-header__logo">
        <img width="216" height="40" data-lozad src="@img/placeholder.png" data-src="@img/logo.svg" alt="Logo" title="Logo" />
    </div>
    <nav class="site-header__menu menu">
        <button type="button" class="menu__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 22 22" fill="none">
                <path
                    d="M21 1.00018C20.6875 0.687733 20.2636 0.512207 19.8217 0.512207C19.3797 0.512207 18.9559 0.687733 18.6433 1.00018L11 8.64352L3.35667 1.00018C3.04412 0.687733 2.62028 0.512207 2.17833 0.512207C1.73639 0.512207 1.31255 0.687733 1 1.00018C0.68755 1.31273 0.512024 1.73658 0.512024 2.17852C0.512024 2.62046 0.68755 3.04431 1 3.35685L8.64334 11.0002L1 18.6435C0.68755 18.9561 0.512024 19.3799 0.512024 19.8219C0.512024 20.2638 0.68755 20.6876 1 21.0002C1.31255 21.3126 1.73639 21.4882 2.17833 21.4882C2.62028 21.4882 3.04412 21.3126 3.35667 21.0002L11 13.3569L18.6433 21.0002C18.9559 21.3126 19.3797 21.4882 19.8217 21.4882C20.2636 21.4882 20.6875 21.3126 21 21.0002C21.3125 20.6876 21.488 20.2638 21.488 19.8219C21.488 19.3799 21.3125 18.9561 21 18.6435L13.3567 11.0002L21 3.35685C21.3125 3.04431 21.488 2.62046 21.488 2.17852C21.488 1.73658 21.3125 1.31273 21 1.00018Z"
                    fill="currentColor"
                ></path>
            </svg>
        </button>
        <div class="menu__logo">
            <img data-lozad src="@img/placeholder.png" data-src="@img/logo-blue.svg" alt="Logo" title="Logo" />
        </div>
        <ul class="menu__list">
            <li class="menu__item">
                <a data-anchor href="#about" class="menu__link">О компании</a>
            </li>
            <li class="menu__item">
                <a data-anchor href="#advantages" class="menu__link">Преимущества</a>
            </li>
            <li class="menu__item">
                <a data-anchor href="#calculator" class="menu__link">Калькулятор стоимости</a>
            </li>
            <li class="menu__item">
                <a data-anchor href="#map-section" class="menu__link">Карта работ</a>
            </li>
            <li class="menu__item">
                <a data-anchor href="#contacts" class="menu__link">Контакты</a>
            </li>
        </ul>
        <ul class="menu__contacts">
            <li class="menu__contacts-item">
                <a href="tel+ 79999999999" class="menu__contacts-link">+ 7 (999) 999 99-99</a>
            </li>
            <li class="menu__contacts-item">
                <a href="mailto:okna.spec@mail.ru" class="menu__contacts-link">okna.spec@mail.ru</a>
            </li>
        </ul>
    </nav>
    <button type="button" class="site-header__burger">
        <span class="site-header__burger-line"></span>
        <span class="site-header__burger-line"></span>
        <span class="site-header__burger-line"></span>
    </button>
</header>
