<head>
    <meta charset="UTF-8" />
    <title>@@title</title>
    <meta
        name="description"
        content="Качественные окна по доступной цене Нестандартные формы Окна с мультифункцией (ламинация, тонирование) Все, о правильном выборе подходящего именно вам окна"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./files/swiper-bundle.min.css" />
    @@for (let i = 0; i < styles.length; i++) {
    <link rel="stylesheet" href="css/`+styles[i]+`.min.css" />
    }
</head>
